@media (min-width: 1024px) {
    .hero {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .hero .img-hero img {
        display: block;
        width: 500px;
        border-radius: 10px;
    }
}