@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    scroll-behavior: smooth;
}

.hero {
    /* background: rgb(0,0,0); */
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 19%, rgba(0,0,0,0.5) 58%), url('./../assets/hero.png') center;
    background-size: cover;
}

.hero .img-hero img {
    display: none;
}

.maps {
    width: auto;
}

@media (max-width: 580px) {
    .maps {
        width: 260px;
    }

    .f-text {
        width: 80%;
    }
}

@media (max-width: 810px) {
    .maps {
        width: 300px;
    }
}

@media (max-width: 860px) {
    .maps {
        width: 330px;
    }
}